@font-face{
    font-family: Public Pixel;
    src: url(PublicPixel.ttf);
}

@font-face{
    font-family: PressStart2P;
    src: url(PressStart2P.ttf);
}
body{
    margin: 0;
}

/*section1*/
.secone{
    background-image: url("bg.png");
    height: 650px;
}
.logo{
    width: 145px;
    margin-left: 20PX;
    margin-top: 20PX;
}
.logoart{
    width: 50%;
}
.menutitle{
    color: #FFFFFF;
    margin-left: 32px;
    font-family: Public Pixel;
    font-size: 13px;
    line-height: 13px;
}
.menutitle:hover{
    color:#FFDE17;
}
.menubar h1{
    display: inline-block;
}
.item{
    width: 35%;
    margin-top: 70px;
    margin-left: 92px;
}
.gamedev{
    height: 99px;
}
.start{
    color:#0375F4;
    font-family: PressStart2P;
    font-size: 20px;
    line-height: 140.5%;
    margin-top: 42px;
}
.ship{
   height: 250px;
   margin-top: 71px ;
   margin-left: 200px;
}
.headbar article{
    display: inline-block;
}
.mainbody article{
    display: inline-block;
}
.startbot{
    width: 178.1px;
    height: 43.09px;
    margin-left: 43%;
    margin-top: 10px;
    background-color:rgba(25, 45, 96, 0.37);
    font-family: PressStart2P;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color:#D0B4B4;
}
.startbot:hover{
    box-shadow: 0px 0px 20px 0px #D0B4B4;
}

/*section2*/
.sectwo{
    background-image: url("bg2.png");
    height: 630px;
}

/*footer*/
footer{
    background: linear-gradient(rgb(0, 0, 0)30%,rgb(32, 144, 215));
    height: 640px;
}
.cont{
    width: 574px;
    height: 115px;
}
.contcat{
    margin-block: 0;
    padding-top: 98px;
    color: #FFFFFF;
    margin-left: 98px;
    font-family: PressStart2P;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
.contacttext{
    margin-block: 0;
    padding-top: 19px;
    color: #FFFFFF;
    margin-left: 54px;
    font-family: PressStart2P;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
}